[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pint = "*"
thermo = "*"
scipy = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
